<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Mongo Scraper</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved Articles</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger scrape-new">SCRAPE NEW ARTICLES!</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger clear">CLEAR ARTICLES!</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Mongo Scraper</h1>
    <p>New York Times Edition</p>
  </div>
</div>
<div class="container-fluid article-container">
  <div data-_id="5c9ffbacd40c3c00158d57d8" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2019/03/29/books/review/angela-stent-putins-world.html">Unraveling the Putin Enigma</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">“Putin’s World,” by Angela E. Stent, seeks to put Russia’s relations with the West into long-term perspective.</div>
  </div>
    <div data-_id="5c9ffbacd40c3c00158d57d7" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2019/03/29/world/canada/bengio-artificial-intelligence-ai-turing.html">He Helped Create A.I. Now He Worries About ‘Killer Robots.’</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">Still, Yoshua Bengio, a co-winner of this year’s prestigious A.M. Turing prize, says A.I. will prove to be a boon, if regulated.</div>
  </div>
    <div data-_id="5c9ffbacd40c3c00158d57d6" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/interactive/2019/03/30/opinion/sunday/jerusalem-city-of-david-israel-dig.html">Can an Archaeological Dig Change the Future of Jerusalem?</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">The City of David is being unearthed on land that much of the world does not believe belongs to Israel.</div>
  </div>
    <div data-_id="5c9ffbacd40c3c00158d57d4" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2019/03/28/us/politics/black-women-voting-south.html">Victory for Democrats in the South Begins with Black Women</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">Kamala Harris and Beto O’Rourke took different approaches, but they both reached out to black women in 2020 campaign swings through the South recently.</div>
  </div>
    <div data-_id="5c9ffbacd40c3c00158d57d5" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2019/03/30/reader-center/11-of-our-best-weekend-reads.html">11 of Our Best Weekend Reads</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">Gen Z has its say. Kids and room sharing. A woman who feels no pain. Adventurous, alone, attacked. And more.</div>
  </div>
    <div data-_id="5c9ffbacd40c3c00158d57d3" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2019/03/30/us/politics/democrats-2020-donors.html">2020 Democrats Love Small Donors. But Some Really Love Big Donors, Too.Mr. O’Rourke kicked off his presidential campaign in El Paso.Victory for Democrats in the South Begins with Black Women</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">Kamala Harris and Beto O’Rourke took different approaches, but they both reached out to black women in 2020 campaign swings through the South recently.</div>
  </div>
    <div data-_id="5c9ffbacd40c3c00158d57d2" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2019/03/30/climate/trump-oil-drilling-arctic.html">Trump Order to Open Arctic and Atlantic Waters to Drilling Was Unlawful, Judge RulesA Texan’s Big Bet on a Fossil-Fuel Future for California</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">Andrew Beal, a poker-playing billionaire and major Trump backer, could upend California’s carbon-free power goals with a case before federal regulators.</div>
  </div>
   </div>

<footer class="footer">
  <div class="container">
    <p>New York Times Mongo Scraper</p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="/assets/javascript/index.js"></script>

</body>