body {
    background-color: black;
}

.modal card {
    display:none;
    position: relative;
    background-color: #aaa;
    color: black;
    height:100px;
    width:100px
};



img {
    padding: 2px;
    margin: 2px 2px 2px 2px;
    border: 2px 2px 2px 2px;
    border-radius: 10px;
    border-color: white;
}